.app-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 100px 0px;
}
.app-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.app-head > h2 {
  color: #2b9dce;
  font-size: 2rem;
}
.app-head > h1 {
  color: #222222;
  font-size: 3.5rem;
  text-decoration: 2px underline;
}
.app-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.app-self {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #dddddd;
  height: 380px;
  gap: 20px;
}
.app-self > img {
  object-fit: cover;
  width: 380px;
  height: 250px;
}
.app-self > h3 {
  font-size: 1.5rem;
  text-transform: capitalize;
}
.app-btn {
  text-transform: uppercase;
  width: 160px;
  font-size: 1rem;
  text-align: center;
  border-radius: 5px;
  padding: 7px 13px;
  background-color: #2b9dce;
  color: #fff;
}
/* For the tablet view */
@media screen and (max-width: 992px) {
  .app-head > h2 {
    font-size: 1.8rem;
  }
  .app-head > h1 {
    font-size: 3rem;
  }

  .app-items {
    padding-left: 100px;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .app-self {
    height: 320px;
  }
  .app-self > img {
    width: 300px;
    height: 200px;
  }
  .app-self > h3 {
    font-size: 1.4rem;
  }
}

/* For the mobile View */
@media screen and (max-width: 576px) {
  .app-body {
    padding: 60px 0px;
  }
  .app-head > h2 {
    font-size: 1.4rem;
  }
  .app-head > h1 {
    font-size: 2.3rem;
  }
  .app-items {
    flex-direction: column;
    padding: 0px;
  }
}
