nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #fff;
  padding: 20px 40px;
  box-shadow: 0px 2px #ededed;
}
.logo {
  width: 200px;
}

.menu-list {
  display: flex;
  gap: 15px;
  align-items: center;
}
.menu-link {
  font-size: 1.2rem;
  font-weight: 500;
  color: #6e6a83;
  transition: 0.3s ease;
}

.menu-link:hover {
  color: #0000ff;
}

/* for the social icons */
.nav-soc {
  display: flex;
  gap: 15px;
  font-size: 1.4rem;
}
.nav-soc a {
  color: #2b9dce;
}

/* For the icons */
.ham-menu {
  display: none;
}

/* For the tablet view */
@media screen and (max-width: 992px) {
  .logo {
    width: 160px;
  }
  .nav-soc {
    display: none;
  }
  .ham-menu {
    display: block;
    position: absolute;
    top: 20px;
    right: 15px;
    transform: translate(-100%, 60%);
    font-size: 1.7rem;
    cursor: pointer;
  }
  .menu-list {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    width: 100%;
    height: 600px;
    top: 100px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }
  .menu-list.active {
    background: #2b9dce;
    backdrop-filter: blur(4.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    left: 0;
    opacity: 1;
    transition: all 0.6s ease;
    z-index: 8;
  }
  .menu-link {
    color: #fff;
  }
  .menu-link:hover {
    color: #fff;
  }
}
/* For the mobile View */
@media screen and (max-width: 576px) {
  .logo {
    width: 120px;
  }
  .ham-menu {
    font-size: 1.2rem;
  }
  .menu-link {
    font-size: 1.1rem;
  }
  .menu-list {
    top: 85px;
    height: 500px;
  }
}
