.hero-body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)),
    url('../../img//hero.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  gap: 15px;
}

.hero-cont > h1 {
  font-size: 2.5rem;
}
.hero-cont > h3 {
  font-size: 2.1rem;
}
.hero-cont > h3 > span {
  text-align: center;
  border-radius: 50%;
  border: 1px solid #fff;
  padding: 6px 13px;
  background-color: #2b9dce;
  color: #fff;
}
.hero-cont > p {
  font-size: 1.3rem;
}

.hero-btn {
  width: 120px;
  text-align: center;
  border-radius: 20px;
  padding: 7px 13px;
  background-color: #2b9dce;
  color: #fff;
}

/* For the mobile View */
@media screen and (max-width: 576px) {
  .hero-cont {
    text-align: center;
  }
  .hero-cont > h1 {
    font-size: 1.9rem;
  }
  .hero-cont > h3 {
    font-size: 1.7rem;
  }
  .hero-cont > p {
    font-size: 1rem;
  }
}
